<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a13015.mtdme">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name=".FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="Menu"></activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="Map">
        </activity>
        <activity
            android:name=".locatestop"
            android:label="LocateStop">
        </activity>
        <activity
            android:name=".locatestop2"
            android:label="LocateStop2">
        </activity>
        <activity
            android:name=".locatestop3"
            android:label="LocateStop3">
        </activity>
        <activity
            android:name=".locatestop4"
            android:label="LocateStop4">
        </activity>
        <activity
            android:name=".listdeparture1"
            android:label="ListDeparture">
        </activity>
        <activity
            android:name=".listdeparture2"
            android:label="ListDeparture">
        </activity>
        <activity
            android:name=".listdeparture3"
            android:label="ListDeparture">
        </activity>
        <activity
            android:name=".listdeparture4"
            android:label="ListDeparture">
        </activity>
        <activity
            android:name=".locatebus1ofdeparture1"
            android:label="LocateBus">
        </activity>
        <activity
            android:name=".listdepartureforsearchstop"
            android:label="ListDeparture">
        </activity>
        <activity
            android:name=".locatesearchstop"
            android:label="LocateStop">
        </activity>
        <activity
            android:name=".displayroute"
            android:label="DisplayRoute">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>